*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
input{
    width: 250px !important;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    outline: none;
}
.container{
    border: none;
    box-shadow: 10px 10px 20px 5px black,inset 6px 5px 10px 0px rgb(0, 123, 255);
    border-radius: 100px 100px 100px 100px;
    width: fit-content;
padding: 20px;
margin: 0 150px;
}
.main-container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(340deg, rgb(0,123,255),40%,black);
}
button a{
    text-decoration: none;
    color: white;
}
.image-bg{
    border: none;
    box-shadow: 10px 10px 20px 2px black;
}